In [1]:
import numpy as np
import pandas as pd

In [2]:
ira = pd.read_csv('IRAhandle_tweets_1.csv')
ira

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243886,2497991305,AUSTINLOVESBEER,BREAKING: Killer avalanche sweeps three skiers...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,173,...,Right,1,RightTroll,0,2497991305,839400198002503680,http://twitter.com/2497991305/statuses/8394001...,https://twitter.com/Daily_Star/status/83938477...,http://bit.ly/2lWNDnt,NaN
243887,2497991305,AUSTINLOVESBEER,Why men should support International Women’s D...,United States,English,3/8/2017 8:59,3/8/2017 9:00,41,34,175,...,Right,1,RightTroll,0,2497991305,839400290168135680,http://twitter.com/2497991305/statuses/8394002...,http://trib.al/xiMs3md,NaN,NaN
243888,2497991305,AUSTINLOVESBEER,How we can rebuild trust in a UK divided by in...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,170,...,Right,1,RightTroll,0,2497991305,839400090582179840,http://twitter.com/2497991305/statuses/8394000...,http://trib.al/l3iyCVF,NaN,NaN
243889,2497991305,AUSTINLOVESBEER,John Humphrys accused of patronising Angela Ra...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,171,...,Right,1,RightTroll,0,2497991305,839400131325648896,http://twitter.com/2497991305/statuses/8394001...,http://bit.ly/2m0OQL7,NaN,NaN
243890,2497991305,AUSTINLOVESBEER,Fossilized poop found in 180-million-year-old ...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,174,...,Right,1,RightTroll,0,2497991305,839400253413437440,http://twitter.com/2497991305/statuses/8394002...,http://dailym.ai/2lV5BXf,NaN,NaN

In [3]:
ira2= ira.iloc[0:10000, :]
#len(ira2)
ira2

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3312143142,4MYSQUAD,'@SARAH2TURNNT I love U',United States,LANGUAGE UNDEFINED,9/9/2015 1:13,9/9/2015 1:19,1311,618,2091,...,Left,0,LeftTroll,0,3312143142,641419031673618432,http://twitter.com/4mysquad/statuses/641419031...,NaN,NaN,NaN
9996,3312143142,4MYSQUAD,Rebecca Martin: Public Comment Against More #C...,United States,English,9/9/2015 1:18,9/9/2015 1:18,1311,618,2091,...,Left,0,LeftTroll,0,3312143142,641420337356210176,http://twitter.com/4mysquad/statuses/641420337...,https://www.youtube.com/watch?v=ffCiHzqMJIA,NaN,NaN
9997,3312143142,4MYSQUAD,'@ThisIsRobThomas If You believe - you act',United States,English,9/9/2015 1:29,9/9/2015 1:29,1311,620,2096,...,Left,0,LeftTroll,0,3312143142,641423168989630465,http://twitter.com/4mysquad/statuses/641423168...,NaN,NaN,NaN
9998,3312143142,4MYSQUAD,'@tyriquex when my girl refused to stop painti...,United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2097,...,Left,0,LeftTroll,0,3312143142,641423659505090560,http://twitter.com/4mysquad/statuses/641423659...,NaN,NaN,NaN
9999,3312143142,4MYSQUAD,'@deray New York State Of Mind',United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2098,...,Left,0,LeftTroll,0,3312143142,641423736013385728,http://twitter.com/4mysquad/statuses/641423736...,NaN,NaN,NaN

In [4]:
langSetting=ira2['language']=='English'
tweetSetting=~ira2["content"].str.contains("\?")

In [5]:
ira2=ira2[(langSetting) & (tweetSetting)]
ira2

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,3312143142,4MYSQUAD,Mom Says #Cop Slammed Son’s Face Into Newly La...,United States,English,9/9/2015 0:54,9/9/2015 0:54,1311,618,2078,...,Left,0,LeftTroll,0,3312143142,641414424163577856,http://twitter.com/4mysquad/statuses/641414424...,https://twitter.com/4mysquad/status/6414144241...,http://tmblr.co/ZSSdql1tkXKeM,NaN
9996,3312143142,4MYSQUAD,Rebecca Martin: Public Comment Against More #C...,United States,English,9/9/2015 1:18,9/9/2015 1:18,1311,618,2091,...,Left,0,LeftTroll,0,3312143142,641420337356210176,http://twitter.com/4mysquad/statuses/641420337...,https://www.youtube.com/watch?v=ffCiHzqMJIA,NaN,NaN
9997,3312143142,4MYSQUAD,'@ThisIsRobThomas If You believe - you act',United States,English,9/9/2015 1:29,9/9/2015 1:29,1311,620,2096,...,Left,0,LeftTroll,0,3312143142,641423168989630465,http://twitter.com/4mysquad/statuses/641423168...,NaN,NaN,NaN
9998,3312143142,4MYSQUAD,'@tyriquex when my girl refused to stop painti...,United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2097,...,Left,0,LeftTroll,0,3312143142,641423659505090560,http://twitter.com/4mysquad/statuses/641423659...,NaN,NaN,NaN
9999,3312143142,4MYSQUAD,'@deray New York State Of Mind',United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2098,...,Left,0,LeftTroll,0,3312143142,641423736013385728,http://twitter.com/4mysquad/statuses/641423736...,NaN,NaN,NaN

In [6]:
ira2.to_csv("Data_Collection.tsv",sep="\t", index=False)  #Output of Data Collection Phase

In [7]:
df = pd.read_csv("Data_Collection.tsv", sep="\t")
df

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,3312143142,4MYSQUAD,Mom Says #Cop Slammed Son’s Face Into Newly La...,United States,English,9/9/2015 0:54,9/9/2015 0:54,1311,618,2078,...,Left,0,LeftTroll,0,3312143142,641414424163577856,http://twitter.com/4mysquad/statuses/641414424...,https://twitter.com/4mysquad/status/6414144241...,http://tmblr.co/ZSSdql1tkXKeM,NaN
4798,3312143142,4MYSQUAD,Rebecca Martin: Public Comment Against More #C...,United States,English,9/9/2015 1:18,9/9/2015 1:18,1311,618,2091,...,Left,0,LeftTroll,0,3312143142,641420337356210176,http://twitter.com/4mysquad/statuses/641420337...,https://www.youtube.com/watch?v=ffCiHzqMJIA,NaN,NaN
4799,3312143142,4MYSQUAD,'@ThisIsRobThomas If You believe - you act',United States,English,9/9/2015 1:29,9/9/2015 1:29,1311,620,2096,...,Left,0,LeftTroll,0,3312143142,641423168989630465,http://twitter.com/4mysquad/statuses/641423168...,NaN,NaN,NaN
4800,3312143142,4MYSQUAD,'@tyriquex when my girl refused to stop painti...,United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2097,...,Left,0,LeftTroll,0,3312143142,641423659505090560,http://twitter.com/4mysquad/statuses/641423659...,NaN,NaN,NaN
4801,3312143142,4MYSQUAD,'@deray New York State Of Mind',United States,English,9/9/2015 1:31,9/9/2015 1:31,1311,620,2098,...,Left,0,LeftTroll,0,3312143142,641423736013385728,http://twitter.com/4mysquad/statuses/641423736...,NaN,NaN,NaN

In [8]:
df["trump_mention"] = df["content"].str.contains("(^|[^A-Za-z0-9])Trump([^A-Za-z0-9]|$)", regex=True, case=True)
len(df[df["trump_mention"] == True])

C:\Users\dibby\Anaconda3\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

108

In [9]:
finaldf=df[["tweet_id", "publish_date", "content", "trump_mention"]]
len(finaldf)

4802

In [10]:
finaldf.to_csv("dataset.tsv",sep="\t", index=False) #Output of Data annonation phase

In [11]:
trumpTrueCount=len(df[df['trump_mention']==True])
trumpFalseCount=len(df[df['trump_mention']==False])
result= format(trumpTrueCount/(trumpFalseCount+trumpTrueCount), '.3f')
print(result)

0.022

In [12]:
data = [['frac-trump-mentions', result] ] 
resdf = pd.DataFrame(data, columns = ['result', 'value']) 
resdf

                result  value
0  frac-trump-mentions  0.022

In [13]:
resdf.to_csv("results.tsv",sep="\t", index=False)  #Output of Analysis phase